header{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  ul{
    display: flex;
    gap: 20px;
  }
  nav ul li{
    list-style: none;
    font-size: 18px;
  }
  nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
  nav ul li a:hover{
    color: brown;
  }

  a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
  a:hover{
    color: brown;
  }